.message-input {
  padding: 10px;
  position: relative;
  justify-self: flex-end;
  background-color: rgba(255, 255, 255, .3);
}

.message-input textarea {
  background-color: rgba(255, 255, 255, .4);
  width: calc(100% - 20px);
  height: 20px;
  color: #333;
  font-size: 16px;
  resize: none;
  border:none;
  outline:none;
  padding: 5px;
}
